<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gpdi.mapper.OrderMapper">

    <!--增加订单-->
    <insert id="addOrders" parameterType="com.gpdi.entity.Order">
         insert into orders values(#{id},#{productId},#{userId},#{orderTime},#{status})
     </insert>


</mapper>