<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gpdi.mapper.ProductMapper">

    <!--实际为查询所有库存信息-->
    <select id="getAllProduct" resultType="com.gpdi.entity.Product">
        select * from product
    </select>

    <!--根据产品id查询产品库存-->
    <select id="getProductNumberById" resultType="com.gpdi.entity.Product" parameterType="String">
        select * from product where id=#{id}
    </select>

    <!--减少库存-->
    <select id="updateProduct" parameterType="com.gpdi.entity.Product">
        update  product set number=#{number} where id=#{id}
    </select>


</mapper>